<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users with Templates</title>
</head>
<body>
    
    <h2> All the users</h2>

    <table>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
        </tr>

        {% for movie in movies %}

        <tr>
            <td>ID: {{ movie.id }}</td>
            <td> {{ movie.title }}</td>
            <td> {{ movie.director }}</td>
            <td> <a href="delete/{{movie.id}}"> <button>Delete</button></a></td>
        </tr>

        {% endfor %}
        
    </table>

    <h2> Add a user</h2>

    <form action="add-movie" method="POST"> 
        {% csrf_token %}
        <input type="text" name="title" placeholder="Add name" required>
        <input type="text" name="director" placeholder="Add email" required>
        <button>Add</button>

    </form>

</body>
</html>